body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: oklch(91.428% 0.15225 99.08);
  color: black;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.container {
  background-color: white;
  display: flex;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 5px 15px 5px black;
  color: black;
  margin: 20px;
  padding: 10px;
  flex-direction: column;
  height: 450px;
  width: 350px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.box img {
  border-radius: 5px;
}
.text {
  margin: 10px;
}
.text button {
  background-color: oklch(91.428% 0.15225 99.08);
  text-align: center;
  border: 0;
  padding: 5px;
  border-radius: 2px;
}
.photo {
  display: flex;
  gap: 4px;
}
.photo img {
  height: 40px;
}
